name: easy-nats-integration-tests
services:
  nats:
    image: nats:2.11
    container_name: nats
    environment:
      NATS_USER: guest
      NATS_PASSWORD: guest
    ports:
      - "4222:4222"
      - "8222:8222"
    command: >
      -js
    labels:
      io.quarkus.devservices.compose.wait_for.logs: .*Server is ready.*
  lgtm:
    image: grafana/otel-lgtm
    container_name: lgtm
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"